<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <add key="regNumberURL" value="https://api.godcod.com/mtls/anything"/>
        <add key="ClientId" value=""/>
        <add key="AccessToken" value=""/>
        <add key="OrganisationId" value="61fa7944cf7b8f00018f1ec4"/>
        <add key="Version" value="1.0.0"/>
        <add key="certificatePath" value="Certificates/clientcert.pfx"/>
        <add key="certificatePassword" value="mtlstest7."/>
    </appSettings>
</configuration>